@page
@model CRJ_Shop.Pages.Account.RegisterModel
@{
}

<h1>Register User</h1>

<form method="post">
	<label>Email: </label>
	<input type="email" asp-for="Email" required />

	<label>Password: </label>
	<input type="password" asp-for="Password" required />

	<button type="submit">Register</button>
</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
	<p style="color:red">@Model.ErrorMessage</p>
}