@page
@model CRJ_Shop.Pages.Admin.Products

@{
}

<h1>Product page</h1>

<table class="table">
    <thead>
    <th>ID</th>
    <th>Product Name</th>
    <th>Description</th>
    <th class="text-end">Actions</th>
    </thead>
    <tbody>
    @foreach (var product in Model.ProductList)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td class="text-end">
                <a class="btn btn-primary">Edit</a>
                <a class="btn btn-success">Details</a>
                <a class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
