@page
@using Microsoft.AspNetCore.Authorization
@model CRJ_Shop.Pages.Products.CreateModel

@attribute [Authorize(Roles = "Admin")]


@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create</h1>

<h5 class="fst-italic text-center mb-4">Enter values to create a new product</h5>
<div class="row">
    <div class="col-md-4 mx-auto">
        <form method="post" class="d-flex flex-column gap-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" type="number" class="form-control"/>
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductCategories" class="control-label"></label>
                <select class="form-select">
                    <option selected>Choose color</option>
                    <option>Red</option>
                    <option>Orange</option>
                </select>
                <span asp-validation-for="Product.ProductCategories" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Product.Image" class="control-label"></label>
                <input asp-for="Product.Image" class="form-control" type="file" />
                <span asp-validation-for="Product.Image" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-success"/>
                <a class="btn btn-danger" asp-page="./Index">Cancel</a>
            </div>
            <div class="form-group">
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
